@import "variables"
.navbar
  height: 100vh
  position: relative
  display: flex
  background: $color-dark-800
  color: $color-white
  // &.navbar-width
  //   width: 100vw
  //   max-width: 650px

.show-navbar
  // width: 100%
  width: 30vw
  max-width: 900px

  &.active
    opacity: 1
    display: block
    animation: opennavbar 0.5s
    min-width: 450px
  &.hidden
    width: 0
    opacity: 0
    animation: hidden 0.5s
@keyframes opennavbar
  0%
    display: none
    width: 80px
  100%
    width: 30vw

@keyframes hidden
  0%
    display: block
    width: 20vw
    opacity: 1
  60%
    opacity: 0.8
  100%
    opacity: 0
    width: 0vw

.nav-list
  display: flex
  flex-direction: column
  width: 80px
  button
    padding: 0
    border: none
    background: initial

button.nav-button
  position: absolute
  padding: 15px
  background: $color-white
  border-top-left-radius: 20px
  border-bottom-left-radius: 20px
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  bottom: 5%
  left: -25px
  font-size: 1.6rem
  display: flex
  justify-content: center
  align-content: center

.icon-arrow
  height: 20px
  width: 20px
  margin-left: 5px
  transition: all 1s ease 0s

@media (max-width:768px)
  .navbar
    position: fixed
    top: 0
    bottom: 0
    right: -80px
    &.navbar-width
      left: 10%
      right: 0

  .show-navbar
    width: 95%
    &.active
      width: calc(100% - 80px)
      min-width: 200px

  @keyframes opennavbar
    0%
      display: none
    100%
      width: 95%

  button.nav-button
    &.active
      left: -25px
    &.hidden
      left: -100%

