@import "variables"
#task-list
  width: 100%
  padding: 30px
  .title
    font-size: 1.8rem
    color: #FCFCFC
  .content
    margin: 25px 0
    padding: 25px 0
    border-top: .3px #ACACAC solid
  .tab-wrap
    display: flex
    button
      padding: 5px 20px
      margin-right: 5px
      border: none
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      color: #ACACAC
      background: #606060
      &.active
        color: #fff
        background: $color-red

  .list-frame
    ul
      li
        margin-top: 1px
        padding: 10px 15px 10px 40px
        display: flex
        justify-content: space-between
        align-items: center
        background: #414141
