#add-task
  width: 100%
  padding: 30px
  .title
    font-size: 1.8rem
    color: #FCFCFC
  .content
    margin: 25px 0
    padding: 25px 0
    border-top: .3px #ACACAC solid
  .tomato-list
    margin-top: 10px
    display: flex
    justify-content: space-between
  label
    font-size: 1rem
    color: #ACACAC
  input
    width: 100%
    margin-top: 10px
    margin-bottom: 25px
    padding: 15px
    border: none
    border-radius: 5px
  button.add-btn
    width: 100%
    padding: 15px
    border-radius: 30px
    color: #FCFCFC
    background-color: #EA5548
    border: none
  hr
    margin: 20px 0
    color: #ACACAC
