@import "variables"
.content
  margin-bottom: 50px
  label
    font-size: 1rem
    color: $color-gray-200
  input
    width: 100%
    margin-top: 10px
    margin-bottom: 25px
    padding: 15px
    border: none
    border-radius: 5px
    
.add-btn
  width: 100%
  padding: 15px
  border: none
  border-radius: 30px
  color: $color-light
  background-color: $color-red
